
body {
  background-image: url("https://mdbootstrap.com/img/Photos/Others/background.jpg");

}

.center {
  text-align: center;
}

.left{
  width: 30%;
      float: left;
      text-align: right;
}

.right {
    width: 65%;
    margin-left: 10px;
    float:left;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=Email]:focus {
  background-color: lightblue;
}

input[type=number]:focus {
  background-color: lightblue;
}

textarea:focus {
  background-color: lightblue;
}

.jumbotron{
  padding: 2px;
  background-color: #EDBB99
}

h1{
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 32px;
  font-style: italic;
}

.container{
  border-style: groove;
  padding-top:20px;
  padding-bottom: 20px;
  background-color: #FDEDEC

}


table {
  border-collapse: collapse;
  width: 30%;
  color: #588c7e;
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  }
  
  th {
  background-color: #588c7e;
  color: white;
  font-size: 20px;
  }
  tr:nth-child(even) {background-color: #f2f2f2}
  
  
h2{
  font-style: italic;
}